.icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link {
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $accent-text-first;
    border-radius: 50%;
  }
  &:hover .social-icon {
    fill: $wite;
  }
}
.social-links {
  display: inline-flex;
  margin-bottom: 30px;

  .social-link + .social-link {
    margin-left: 10px;
  }
}

.social-icon {
  fill: $icon-color;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
