.subscription-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  color: $wite;
  background-color: $accent-text-first;
  background-position: 160px center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}
.text-button {
  margin-left: 29px;
}
.icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
  height: 24px;
  width: 24px;
  fill: var(--white);
}
