$primary-text-color: #212121;
$title-text-color: #757575;
$accent-text-first: #2196f3;
$accent-text-second: #000000;
$accent-text-third: rgba(255, 255, 255, 0.6);
$primari-background-color: #e5e5e5;
$title-background-color: #2f303a;
$accent-background-color: #f5f4fa;
$wite: #ffffff;
$icon-color: #afb1b8;
