.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}
