.contacts-container {
  text-align: center;
  margin-bottom: 60px;
  @media screen and(min-width: 768px) {
    margin-right: auto;
    margin-left: 61px;
  }

  @media screen and(min-width: 1200px) {
    margin: 0;
    width: 231px;
    text-align: left;
  }
}
.location {
  color: $wite;
  text-decoration: none;
}

.contacts-list {
  margin-bottom: 9px;
}

.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  &:last-child {
    margin-bottom: 0px;
  }
}
.link {
  color: $accent-text-third;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
