.header {
  position: relative;
  background-color: $wite;
  border-bottom: 1px solid #ececec;
}
@media (max-width: 767px) {
  .page-header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .page-header {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .page-header {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  display: inline-block;
  margin-left: auto;
  padding: 0;
  height: 40px;
  background-color: transparent;
  border: none;
}

.menu-button:hover,
.menu-button:focus {
  fill: $accent-text-first;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media (max-width: 767px) {
  .menu-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: flex;
    z-index: 55;
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

// .page-header {
//   @media screen and(min-width: 480px) {
//     display: flex;
//     align-items: center;
//     padding-top: 10px;
//     padding-bottom: 10px;
//   }

//   @media screen and(min-width: 768px) {
//     display: flex;
//     align-items: center;
//   }

//   @media screen and(min-width: 1200px) {
//     display: flex;
//     align-items: center;
//   }
// }
// .menu-button {
//   display: inline-block;
//   margin-left: auto;
//   padding: 0;
//   height: 40px;

//   background-color: transparent;
//   border: none;

//   transition-duration: 250ms;
//   transition-property: all;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     fill: $accent-text-first;
//   }

//   @media screen and(min-width: 768px) {
//     display: none;
//   }

//   @media screen and(min-width: 1200px) {
//     display: none;
//   }
// }
// .menu-button .icon-close {
//   display: none;
// }

// .menu-button.is-open .icon-close {
//   display: block;
// }

// .menu-button.is-open .icon-menu {
//   display: none;
// }

// .menu-container {
//   @media screen and(min-width: 480px) {
//     display: none;
//     flex-direction: column;
//     position: absolute;
//     top: 101%;
//     left: 0;
//     width: 100%;
//     height: auto;
//     padding-top: 60px;
//     padding-bottom: 60px;
//     align-items: center;
//     width: 100%;

//     background-color: white;
//     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
//       0px 1px 3px rgba(0, 0, 0, 0.16);

//     &.is-open {
//       display: flex;
//       z-index: 55;
//     }
//   }

//   @media screen and(min-width: 768px) {
//     display: flex;
//     align-items: center;
//     width: 100%;
//   }
// }
