.logo-header {
  display: inline-block;
  color: $accent-text-second;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-top {
  color: $accent-text-first;
}
