.contact-link {
  // margin-left: auto;
  // margin-bottom: 60px;
  // margin-top: 60px;
  @media screen and(min-width: 768px) {
    margin-left: auto;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
  }
  .item {
    margin-top: 20px;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .item + .item {
    @media screen and(min-width: 1200px) {
      margin-left: 50px;
    }
  }
  .item:not(:last-child) {
    margin-bottom: 10px;
  }

  .link {
    color: $title-text-color;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
}
.link:hover,
.link:focus {
  color: $accent-text-first;
}
.icon-header {
  margin-right: 10px;
  fill: $title-text-color;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .icon-header,
.link:focus.icon-header {
  fill: $accent-text-first;
}
