.work-examples {
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
  }
  .item-work:hover {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .item-work:hover .examples-text {
    opacity: 1;
    transform: translatey(0);
  }
}
.item-work {
  width: 100%;
  margin-right: 0px;
  margin-bottom: 30px;

  background-color: $wite;
  border: 1px solid #eeeeee;
  // box-sizing: border-box;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;

    border: 1px solid #eeeeee;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    width: calc((100% - 90px) / 3);
    border: 1px solid #eeeeee;
  }

  // &:nth-child(3n) {
  //   margin-right: 0px;
  // }
  // &:nth-last-child(-n + 3) {
  //   margin-bottom: 94px;
  // }
}
.item-work:last-child {
  @media screen and (min-width: 480px) {
    margin-bottom: 0;
  }
}
.item-work:nth-child(n + 7) {
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.item-work:nth-child(2n + 1) {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.item-work:last-child {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.item-work:nth-last-child(-n + 3) {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.option-container {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.option-name {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.option {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  color: $title-text-color;
}
.examples-container {
  position: relative;
  overflow: hidden;
}

.examples-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 23px;
  padding-left: 23px;

  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  color: $wite;
  background-color: $accent-text-first;
  opacity: 0;
  transform: translateY(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
