.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio-title {
  display: none;
}
