.what-we-do {
  padding-bottom: 94px;
}
.what-we-do-list {
  display: flex;
}
.do-list {
  margin-right: 30px;
  position: relative;

  &:last-child {
    margin-right: 0px;
  }
}
.do-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $wite;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
