.section-advantages {
  padding-top: 60px;
  // padding-bottom: 94px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
p {
  color: $title-text-color;
  width: 100%;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.feature-list {
  // display: flex;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.list {
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
.list::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $accent-background-color;
  margin-bottom: 30px;
}
.list:not(:last-child) {
  margin-bottom: 30px;
}
// &:last-child {
//   margin-right: 0px;
// }

.icon-antenna::before {
  background-image: url(../images/svg/antenna1.svg);
}
.icon-clock::before {
  background-image: url(../images/svg/clock1.svg);
}
.icon-diagram::before {
  background-image: url(../images/svg/diagram1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/svg/astronaut1.svg);
}

.advantages {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  // margin-bottom: 10px;
}
.description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
