.section-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
p {
  color: $title-text-color;
}
.feature-list {
  display: flex;
}
.list {
  margin-right: 30px;

  &::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $accent-background-color;
    margin-bottom: 30px;
  }
  &:last-child {
    margin-right: 0px;
  }
}
.icon-antenna::before {
  background-image: url(../images/antenna1.svg);
}
.icon-clock::before {
  background-image: url(../images/clock1.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut1.svg);
}

.advantages {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
