.section {
  background-color: $accent-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-work,
.our-team,
.clients {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.list-item {
  margin-right: 30px;
  text-align: center;
  background-color: $wite;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;

  &:last-child {
    margin-right: 0px;
  }
}
.team-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 30px;
  margin-bottom: 10px;
}
.occupation {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

// .icon-link {
//   width: 44px;
//   height: 44px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .social-link {
//   border-radius: 50%;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover {
//     background-color: $accent-text-first;
//     border-radius: 50%;
//   }
//   &:hover .social-icon {
//     fill: $wite;
//   }
// }
// .social-links {
//   display: inline-flex;
//   margin-bottom: 30px;

//   .social-link + .social-link {
//     margin-left: 10px;
//   }
// }

// .social-icon {
//   fill: $icon-color;

//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
